<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <style>
        body {
            background: url("{% static 'images/image1.png' %}") no-repeat center center fixed;
            background-size: cover;
        }

        .error {
            color: red;
            font-weight: bold;
        }

        .remember-box {
            color: white;
        }
    </style>
</head>

<body>
    <div class="login-box">
        <p>Login</p>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="user-box">
                <input type="text" name="username" required>
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <div class="remember-box">
                <input type="checkbox" name="remember_me" id="remember_me">
                <label for="remember_me">Remember me</label>
            </div>
            <a href="#" onclick="document.forms[0].submit(); return false;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login
            </a>
        </form>
        <p>Don't have an account? <a href="{% url 'user_create' %}" class="a2">Sign up!</a></p>
    </div>
</body>

</html>