<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MotionPath Gym</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            
            <img src="{% static 'images/icono3.png' %}" alt="Logo" style="width: 230px; height: 55px; margin-right: 10px;">
        </div>
        <div class="nav-links"> 
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'construction' %}">About Us</a>
            <a href="{% url 'construction' %}">Contact</a>
        </div>
        <div class="social-links">
            <a href="{% url 'construction' %}" class="icon"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'construction' %}" class="icon"><i class="fab fa-twitter"></i></a>
            <a href="{% url 'construction' %}" class="icon"><i class="fab fa-instagram"></i></a>
        </div>
    </nav>
    <div class="hero" style="background: url('{% static 'images/fondohome3.png' %}') no-repeat center center / cover;">
        <div class="overlay"></div> <!-- Añadimos un overlay para controlar la opacidad -->
        <div class="hero-content">
            <h1>UPGRADE YOUR BODY AT</h1>
            <h2>MOTIONPATH GYM</h2>
            <p>new way to build a healthy lifestyle!</p>
            <div class="buttons">
                <a href="{% url 'user_create' %}" class="button primary">Get Started</a>
                <a href="{% url 'user_login' %}" class="button secondary">Log in</a>
            </div>
        </div>
    </div>
</body>
</html>
