body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.9); /* Más oscuro y translúcido */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Asegura que los enlaces empujen los íconos hacia la derecha */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-right: 12px;
}

.navbar a:hover {
    color: #ff4500; 
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
}


.social-links {
    display: flex;
}

.icon {
    padding: 0;
    font-size: 16px; /* Más pequeños */
    margin-left: 10px; /* Espacio entre íconos */
}

.hero {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.hero-content {
    max-width: 90%;
    position: relative;
    z-index: 2; 
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    margin-bottom: 40px;
}

.button {
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button.primary {
    background-color: #005f88; /* Azul */
}

.button.primary:hover {
    background-color: #0082ca;
}

.button.secondary {
    background-color: transparent;
    border: 2px solid #ff4500; 
}

.button.secondary:hover {
    background-color: #ff4500;
    color: #005f88;
}
