{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'assets/extensions/simple-datatables/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/compiled/css/table-datatable.css' %}">
{% endblock link %}

<table class="table table-striped" id="table1">
    <thead>
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{% static 'assets/extensions/simple-datatables/umd/simple-datatables.js' %}"></script>
<script src="{% static 'assets/static/js/pages/simple-datatables.js' %}"></script>